<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        #welcome{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        img {
            max-width: 100px
        }

    </style>
</head>

<body>
    <div id="welcome">
        <img src="/static/images/flask-logo.png" alt="Logo Flask">
        <h1>Welcome to Flask</h1>
    </div>

    <p>This is the home page of our Flask application.</p>
    <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Our contacts</a></li>
    </ul>
</body>
</html>